<div class="footer">
  <span> <%= user?.profile.district?.name %> </span>
  <a href="https://github.com/callumnelson/battle-of-the-books" target="_blank">
    <i class="fa-brands fa-github" style="color: #ffffff;"></i>
  </a>
</div>
</body>
</html>
