  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="background-color: #a5d2f3;">
    <% if (user) { %>
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <i id="logo" class="fa-solid fa-book fa-2xl"></i>
          Battle of the Books
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/sections" class="<%= title === 'Sections' ? 'active' : '' %>">
                Sections
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students" class="<%= title === 'Students' ? 'active' : '' %>">
                Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/students" class="<%= title === 'Library' ? 'active' : '' %>">
                Library
              </a>
            </li>
            <li class="nav-item" id="logout">
              <a href="/auth/logout" class="right nav-link">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
