tr > td:nth-child(5), tr > td:nth-child(6), tr > td:nth-child(7), tr > td:nth-child(8) {
  text-align: center;
} 

tr > th:nth-child(5), tr > th:nth-child(6), tr > th:nth-child(7), tr > th:nth-child(8) {
  text-align: center;
} 

tr > td:nth-last-child(1), tr > td:nth-last-child(2){
  text-align: right;
}

/* Simplify tr when on mobile devices */
@media only screen and (max-width: 768px) {
  tr > td:nth-child(3), tr > td:nth-child(4), tr > td:nth-child(5), tr > td:nth-child(6), tr > td:nth-child(7) {
    display: none;
  } 

  tr > th:nth-child(3), tr > th:nth-child(4), tr > th:nth-child(5), tr > th:nth-child(6), tr > th:nth-child(7) {
    display: none;
  } 
}