<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <section class="page-header-container">
    <div>
      <h1 class="page-header"> <%= section.name %> </h1>
    </div>
    <div class="page-nav-container">
      <a class="btn btn-outline-info" role="button" id="new-section-btn">
        Edit Info
      </a>
      <a class="btn btn-outline-info" role="button" id="new-section-btn">
        Add Student
      </a>
    </div>
  </section>
  <section class="details-container">
    
  </section>
  <section class="students-container">

  </section>
</main>

<%- include('../partials/footer') %>
