.teacher-content-container {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.teacher-content-container > h5 {
  text-align: center;
}

.teacher-content-container > img {
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  border: 1px solid black;
}