<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <!-- TEACHER PROFILE -->
  <% if (user.profile.role > 100) { %>
    

  <!-- STUDENT PROFILE -->
  <% } else { %>
    


  <% } %>
</main>

<%- include('./partials/footer') %>
