<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <% if (!user) { %>
      <div id="signup-container">
        <h4>Welcome</h4>
        <i id="logo" class="fa-solid fa-book fa-2xl"></i>
        <p>Sign in to get started</p>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
          data-prompt_parent_id="g_id_onload"
        ></div>
        <div 
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </div>
  <% } else { %>
    <!-- IF THERE ARE SECTIONS, SHOW THE SCOREBOARD -->
    <% if (1) { %>
      <h1>SCOREBOARD GOES HERE</h1>
      

    <!-- IF THERE ARE NO SECTIONS, PROMPT TO CREATE SOME -->
    <% } else { %>
    
    <% } %>
  <% } %>
</main>

<%- include('./partials/footer') %>
