<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/scoreboard.css">
<%- include('./partials/nav') %>
<main>
  <section class="page-header-container">
    <div>
      <h1 class="page-header">Scoreboard</h1>
    </div>
    <div class="page-nav-container">
    </div>
  </section>
  <section class="content-container podium-container">
    <div class="section-card-container">
      <div class="podium second-place">

      </div>
      <div class="podium-padding second">
        <h5>Second Place</h5>
      </div>
    </div>
    <div class="section-card-container">
      <div class="podium first-place">
        
      </div>
      <div class="podium-padding first">
        <h5>First Place</h5>
      </div>
    </div>
    <div class="section-card-container">
      <div class="podium third-place">
        
      </div>
      <div class="podium-padding third">
        <h5>Third Place</h5>
      </div>
    </div>
  </section>
  <section class="content-container">
    <h3>Honorable Mention</h3>
  </section>
</main>
<%- include('./partials/footer') %>