html {
  box-sizing: border-box;
  height: 100%;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(255, 255, 255);
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  /* Viewheight minus header and footer */
  min-height: calc(100% - 66px - 60px);
}

nav {
  min-height: 66px;
}

.navbar {
  margin: 0;
}

#navbarNav {
  justify-content: end;
}

#navbarNav > ul {
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand > h4{
  margin: 0 0 0 10px;  
}

#avatar {
  border-radius: 50%;
  max-height: 50px;
  margin-left: 10px;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  margin: 20px; 
  background-color: white;
  border-radius: 2px;
  align-items: center;
  color: black;
  padding: 10px 20px;
  border: 1px solid lightgray;
}

.page-header {
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 20px 20px; 
  background-color: white;
  border-radius: 2px;
  align-items: start;
  color: black;
  padding: 10px 20px;
  border: 1px solid lightgray;
}

.page-nav-container {
  display: flex;
  gap: 10px;
}

.active {
  color: white;
}

.activeProfile {
  border: 1px solid white;
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.content-container > h3 {
  margin-bottom: 20px;
  text-align: left;
}