html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(174, 160, 173);
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 90%;
  margin: 0;
}

#navbarNav {
  justify-content: end;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand > h4{
  margin: 0 0 0 10px;  
}

#avatar {
  border-radius: 50%;
  max-height: 50px;
  margin-left: 10px;
}

