.content-container {
  align-items: start;
}

.review {
  max-width: 200px;
  word-wrap: break-word;
}

.title {
  max-width: 150px;
}

.student-list > td:nth-child(5), .student-list > td:nth-child(6) {
  text-align: center;
} 

.student-list > th:nth-child(5), .student-list > th:nth-child(6) {
  text-align: center;
} 

.student-list > td:nth-last-child(1), .student-list > td:nth-last-child(2){
  text-align: right;
}

/* Simplify .student-list when on mobile devices */
@media only screen and (max-width: 768px) {
  .student-list > td:nth-child(4), .student-list > td:nth-child(5), .student-list > td:nth-child(6)  {
    display: none;
  } 

  .student-list > th:nth-child(4), .student-list > th:nth-child(5), .student-list > th:nth-child(6) {
    display: none;
  } 
}