.content-container {
  align-items: start;
}

section > h3 {
  margin-bottom: 20px;
}

.modal-wrapper {
  min-width: 350px;
}

#title-input, #authors-input, #pageCount-input, #ticket-type-input {
  max-width: 220px;
}

#review-input {
  min-height: 100px;
}

.review {
  max-width: 300px;
  word-wrap: break-word;
}

.title {
  max-width: 200px;
}