.content-container {
  align-items: start;
}

section > h3 {
  margin-bottom: 20px;
}

.modal-wrapper {
  min-width: 350px;
}

#title-input, #author-input, #pageCount-input, #ticket-type-input {
  max-width: 220px;
}

#review-input {
  min-height: 100px;
}