.content-container > .searchterms-container {
  align-self: center;
}

.searchterms-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 24px;
}

.searchterms-container > div {
  display: flex;
  gap: 5px;
}

th, td {
  max-width: 175px;
}

.description {
  min-width: 350px;
}

tr > td:nth-child(4), tr > td:nth-child(5) {
  text-align: center;
} 

tr > th:nth-child(4), tr > th:nth-child(5) {
  text-align: center;
} 

tr > td:nth-last-child(1){
  text-align: right;
}

/* Simplify tr when on mobile devices */
@media only screen and (max-width: 768px) {
  tr > td:nth-child(5), tr > td:nth-child(6) {
    display: none;
  } 

  tr > th:nth-child(5), tr > th:nth-child(6) {
    display: none;
  } 

  .searchterms-container {
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
}